
.User-List {
    flex: 0 0 30%; /* Don't grow, don't shrink, start at 30% */

    min-width: 250px;
    max-width: 300px;
    width:30%;
    height:95%;
    /* border-right: 3px solid rgba(24, 24, 24, 1); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .User {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 80px;
        padding: 10px;
        transition: opacity 0.3s ease;
        /* border-bottom:1px solid rgb(24, 24, 24); */
    }

    .User:hover {
        opacity: 0.8;
    }
    .logout{
        display: flex;
        align-items: center;
        height:30px;
        margin-left: 5px;
        font-size: small;
    }

    .top-half{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .icon {
        width: 50px;
        height: 50px;
        margin-right:10px;
        border-radius: 50%;
    }

    .name {
        font-size: 1.2rem;
        font-weight: bold;
    }
}
